*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #2F97C1;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  .calc-container {
    width: 40%;
    max-width: 369px;
    background: linear-gradient(90deg, rgba(52,52,52,1) 0%, rgba(0,0,0,1) 190%);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12); 
  }
  .calc-row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -5px;
    justify-content: center;
    align-items: center;
  }
  
  .calc-item {
    padding: 0px 5px;
    transition: all .1s ease-in-out;
  }
  .calc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7FF;
    border-radius: 5px;
    min-height: 5vh;
    min-width: 5vw;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);  
  }

  .display {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    min-height: 5vh;
    font-size: 40px;
    border: none;
    background: rgba(235, 233, 233, 0.808);
    color: black;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 50px;
  }

  .display:after {
    content: 'calculator';
    position: absolute;
    color: white;
    top: 120%;
    font-size: 30px;

  }

  .calc-display {
    padding: 0px 5px;
    
  }

  .calc-input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 5vh;
    text-align: right;
    font-size: 40px;
    border: none;
    background: rgba(0, 0, 0, 0.808);
    color: white;
    padding-right: 16px;

  }
  .orange {
    background-color: #EE7B30;
  }
  strong{
    font-size: 200%;
  }
  .calc-item:hover {
    transform: scale(1.01);
  }
  .calc-item:active {
    transform: translateY(2px);

  }
  input:focus {
    outline: none;
  }
  .is-depressed {
    background-color: #e76d1b;
    border: 2px solid #F7F7FF;
  }
  
  /* Istället för gap som blir fel med den procentuella uträkningen av width på grid-item så utnyttjar vi en padding på grid-item och sen flyttar ut det hela till containerns yttre kant genom att ta samma padding mängd i -margin. Så utrymmen skapas aka gap men padding på vardera sida (left, right) försvinner med hjälp av -margin på containern. 
  
  Med gap hade man varit tvungen att ta procent som i sltändan blir kring 96% istället för 100%.
  */
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.663%;
  }
  .col-10 {
    width: 83.33%
  }
  .col-9 {
    width: 74.997%;
  }
  .col-8 {
    width: 66.664%;
  }
  .col-7 {
    width: 58.331%;
  }
  .col-6 {
    width: 49.998%
  }
  .col-5{
    width: 41.665%;
  }
  .col-4 {
    width: 33.332%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.666%;
  }
  .col-1 {
    width: 8.333%;
  }
  